:root {
  --primary-color: #fae8e0;
  --primary-color-hover: #d8a7b1;
  --secondary-color: #b6e2d3;
  --secondary-color-hover: #00a7b5;
  --background-color: #fffef2;
  --white-color: #ffffff;
  --input-border-color: #a9a9a9;
  --table-row-even: #fae8e0;
  --table-row-hover: #e5b8c1;
  --toggle-hover: #ef7c8e;
  --font-color: #333;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  margin: 0;
}

form {
  background-color: var(--background-color);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  box-sizing: border-box;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 6px 10px;
  margin-bottom: 15px;
  border: 1px solid var(--input-border-color);
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
}

input[type="radio"] {
  margin-right: 5px;
}

input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  background-color: var(--primary-color);
  color: var(--font-color);
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

input[type="submit"]:hover {
  background-color: var(--primary-color-hover);
}

.radio-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.radio-container input[type="radio"] {
  margin-right: 5px;
}

.radio-container label {
  margin-right: 15px;
}

#booksTable {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin-bottom: 30px;
}

#booksTable thead {
  background-color: var(--primary-color);
  color: var(--font-color);
}

#booksTable thead th,
#booksTable tbody td {
  padding: 10px;
  text-align: left;
  border: 1px solid var(--input-border-color);
}

#booksTable tbody tr:nth-child(even) {
  background-color: var(--table-row-even);
}

#booksTable tbody tr:hover {
  background-color: var(--table-row-hover);
}

h2 {
  font-size: 24px;
  color: var(--font-color);
  text-align: center;
  margin-bottom: 20px;
}

form > h2 {
  margin-top: 0px;
}

.deleteButton {
  background-color: var(--secondary-color);
  color: var(--white-color);
  border: none;
  border-radius: 5px;
  padding: 6px 12;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.deleteButton:hover {
  background-color: var(--secondary-color-hover);
}

.toggle-text {
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-text {
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-text:hover {
  background-color: var(--toggle-hover);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: var(--background-color);
  margin: 10% auto;
  padding: 20px;
  border: 1px solid var(--input-border-color);
  width: fit-content;
  min-width: 300px;
  max-width: 90%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#showFormButton,
.close {
  font-size: 24px;
  font-weight: bold;
  color: white;
  background-color: var(--primary-color);
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s;
}

.close {
  color: var(--font-color);
  align-self: flex-end;
  font-size: 28px;
  font-weight: bold;
  width: 30px;
  height: 30px;
}

#showFormButton:hover,
.close:hover {
  background-color: var(--primary-color-hover);
}
